## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import os
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df.head()

    latitude   longitude  magnitude
0  65.193300 -149.072500       1.70
1  38.791832 -122.780830       2.10
2  38.818001 -122.792168       0.48
3  33.601667 -116.727667       0.78
4  37.378334 -118.520836       3.64

In [3]:
locations = earthquake_df[['latitude', 'longitude']]
weights = earthquake_df['magnitude']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/Maria/Desktop/Weather_Database/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Max Temp,Cloudiness,Lat,Lng,Hotel Name
0,0,Coihaique,68.00,0,-45.5752,-72.0662,Diego De Almagro Coyhaique
1,2,Kaitangata,66.00,92,-46.2817,169.8464,Kaitangata Motor Camp
2,8,Eyl,72.16,3,7.9803,49.8164,Amiin Hotel
3,9,Los Llanos De Aridane,64.40,75,28.6585,-17.9182,Valle Aridane
4,10,Rikitea,77.90,71,-23.1203,-134.9692,Pension Maro'i

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Cloudiness</dt><dd>{Cloudiness}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == 'Kruisfontein')]
vacation_end = vacation_df.loc[(vacation_df['City'] == 'Kruisfontein')]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == 'Port Elizabeth')]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == 'Port Alfred')]
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == 'East London')]

vacation_stop3

   City_ID         City  Max Temp  Cloudiness      Lat      Lng Hotel Name
7       17  East London     75.25          99 -33.0153  27.9116    Tu Casa

In [39]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (-34.0033, 24.7314)
end = (-34.0033, 24.7314)
stop1 = (-33.918, 25.5701)
stop2 = (-33.5906, 26.89)
stop3 = (-33.0153, 27.9116)

In [41]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_trip = gmaps.directions_layer(
        start,end, waypoints=[stop1, stop2, stop3],
        travel_mode="DRIVING")
fig.add_layer(vacation_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index=True)
#itinerary_df = itinerary.to_frame()

In [48]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City_ID</dt><dd>{City_ID}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Cloudiness</dt><dd>{Cloudiness}</dd>
<dt>Lat</dt><dd>{Lat}</dd>
<dt>Lng</dt><dd>{Lng}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [51]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(10.0, 11.0), zoom_level=1.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))